    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <%= render "layouts/nav/#{ current_account.admin? ? 'admin': 'user'}" if account_signed_in? %>

          <li class="nav-item">
            <%= link_to profile_path(current_account), class: "nav-link" do %>
              My profile
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to edit_account_registration_path, class: "nav-link" do %>
              Account Setting
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
