<div class="main-page">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/kaori-kk/image/upload/v1586354474/Screenshot_2020-04-08_at_16.00.56_f3y4dh.png);">
    <div class="container">
      <h1>A WAY TO FIND <br>A PERFECT PLACE</h1>
      <a class="main-btn" href="#">Learn more »</a>
    </div>
  </div>


  <div class="container-marketing">
    <%= render "./properties/latest_properties", properties: @properties %>

      <div class="arrow-icon">
        <i class="fas fa-chevron-left prev"></i>
        <i class="fas fa-chevron-right next"></i>
      </div>

    <!-- START THE FEATURETTES -->
    <div class="container-marketing-message">
      <hr class="featurette-divider mt-3 mb-5">

      <div class="row featurette m-2">
        <div class="col-md-7 marketing-msg p-0">
          <h2 class="featurette-heading">More than usual. <span class="text-muted"></span></h2>
          <p class="lead">Looking for a new property?<br>iHome offers extraordinary properties at perfect location. <br>Easy to find your ideal property with updated information.</p>
        </div>
        <div class="col-md-5 p-0">
          <img src="https://res.cloudinary.com/kaori-kk/image/upload/v1586353405/Screenshot_2020-04-08_at_15.40.42_xjvays.png" class="marketing-img" alt="">
        </div>
      </div>

      <hr class="featurette-divider mt-5 mb-5">

      <div class="row featurette">
        <div class="col-md-7 order-md-2 marketing-msg marketing-msg-2">
          <h2 class="featurette-heading">Professional supports.<span class="text-muted"></span></h2>
          <p class="lead">The market is complicated and contracts can be confusing.<br>iHome has a contract with reliable real estate agents.<br>We are always happy to help you.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img src="https://res.cloudinary.com/kaori-kk/image/upload/v1586357915/Screenshot_2020-04-08_at_16.58.20_qhzzrr.png" class="marketing-img" alt="">
        </div>
      </div>

      <hr class="featurette-divider mt-5 mb-5">

      <div class="row featurette">
        <div class="col-md-7 marketing-msg">
          <h2 class="featurette-heading">Customer servise 24/7.<span class="text-muted"></span></h2>
          <p class="lead">Run into trouble? Contact us anytime.<br><a href="#">Contact</a></p>
        </div>
        <div class="col-md-5">
          <img src="https://res.cloudinary.com/kaori-kk/image/upload/v1586353410/Screenshot_2020-04-08_at_15.42.03_c8py3j.png" class="marketing-img" alt="">
        </div>
      </div>

      <hr class="featurette-divider mt-5 mb-5">

      <!-- /END THE FEATURETTES -->
    </div>
  </div>
</div>
